.logo {
  width: 10rem;
}
* {
  text-transform: uppercase;
}

nav a.nav-link {
  font-weight: 500;
  letter-spacing: 0.03rem;
  cursor: pointer;
}
nav ul li {
  text-transform: uppercase;
}
.header-wraper {
  position: relative;
  background: url(./pexels-polina-kovaleva-5827829.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 90vh;
}
